.DS_Store
__pycache__
.ipynb_checkpoints
*.un~
*.swp
MUJOCO_LOG.TXT

VLM/
models_2/
overview_images/
data
data_backup/

environment_assets/

# Customizable environment cache and outputs
models/stanford_tidybot/.custom_scene_*.xml
env_renders/
test_renders/